@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Cat</h1>
<br />

<form method="post">
    <label>Name:</label>
    <input type="text" name="name" />
    <br />
    <label>Age:</label>
    <input type="number" name="age" />
    <br />
    <label>Breed:</label>
    <input type="text" name="breed" />
    <br />
    <label>ImageUrl:</label>
    <input type="text" name="imageUrl" />
    <br />
    <input type="submit" value="Add Cat" />
</form>

